.footer {
    grid-row: 7/8;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}